html, body {
  margin: 0;
  height: 100%;
}

image {
  border: 0;
}

a {
  text-decoration: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.video_1 {
  position: absolute;
  top: 15px;
  left: 60px;
}

.video_2 {
  position: absolute;
  bottom: 48px;
  left: 200px;
}

.video_3 {
  position: absolute;
  bottom: 16px;
  right: 200px;
}

#simple {
  width: 128px;
  height: 64px;
}

#mini {
  width: 24px;
  height: 24px;
}

.wrapper{
  width: 128px;
  height: 64px;
  position: relative;
}

.article {
  width: 800px;
  height: 600px;
  display: none;
}

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
}

.content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.thanks {
  right: 0;
  bottom: 0;
  position: absolute;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}