image {
    border: 0;
}

a {
    text-decoration: none;
}

#caption {
    width: 640px;
    height: 128px;
}

#simple {
    width: 128px;
    height: 64px;
}

#small {
    width: 64px;
    height: 32px;
}

#plus {
    position: absolute;
    width: 128px;
    height: 64px;
    visibility: visible;
}

#minus{
    position: absolute;
    width: 128px;
    height: 64px;
    visibility: hidden
}

.wrapper{
        width: 128px;
    height: 64px;
  position: relative;
}

#video {
    visibility: hidden;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
}